<div class="nav-user-content">
  <!-- -----------------------------2------------------>
  <div id="messages" class="nav-item" onclick="message()">
    <i class="far fa-comment-dots"></i>
    <span>Messages</span>
  </div>
  <!-- --------------------------------3-------------------- -->
  <div id="stats" class="nav-item">
    <i class="fas fa-hryvnia"></i>
    <span>Stats</span>
  </div>

  <!-- --------------------------------4-------------------- -->
  <div id="content" class="nav-item">
    <i class="fas fa-book"></i>
    <span>Your Content</span>
  </div>
</div>

<div id="settings">
  <div id="setting">
    <span>Settings</span>
  </div>

  <div id="language-setting">
    <span>Language</span>
  </div>

  <div class="logout">
    <span><a href="/user/signout">Log out</a></span>
  </div>
</div>
