<div id="header-container">
    <div id="logo">
        <img src="/images/logo.png" alt="logo" width="100px">
    </div>
    <div id="bar-container">
        <div>
            <p class="style">Start</p>
        </div>
        <div id="bar">
            <div id="moving-bar">

            </div>
        </div>
        <div>
            <p class="style">End</p>
        </div>
    </div>
</div>