<form action="/" method="get">
  <div class="home-tab" class="nav">
    <i class="fas fa-home fa-lg"></i>
    <span>Home</span>
  </div>
</form>

<form action="/answers" method="get">
  <div class="answer-tab" class="nav">
    <i class="fas fa-pencil-alt fa-lg"></i>
    <span>Answer</span>
  </div>
</form>

<form action="/notification" method="get">
  <div class="notification" class="nav">
    <i class="fas fa-bell fa-lg"></i>
    <span>Notification</span>
  </div>
</form>
