<div name='form' id="question-form" class="display">
    <div id="header">
        <span>Add Question</span>
    </div>

    <div id="tip-container">
        <div id="content-container" >
            <div id="header-tips">
                Tips on getting good answers quickly
            </div>
            <ul>
                <li>Make sure your question has not been asked already</li>
                <li>Keep your question short and to the point</li>
                <li>Double-check grammar and spelling</li>
            </ul>
        </div>
    </div>
    
    <!-- A feature to ask a question anonumyus to do later -->
    <div id="form-question">
        <form action="" method="post">
            <input type="text" placeholder="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc." required name="question">
        </form>
    </div>

    <div id="footer-form">
        <button type="button" id="cancel">Cancel</button>
        <button type="submit" id="add">Add Question</button>
    </div>
</div>