<link rel="stylesheet" href="/css/interest.css">

<div id="interest">

    <div id="interest-header">
        <h2>What are your interests?</h2>
    </div>

    <% let interest=['Technology','Movies','Health','Food','Science','Music','Books','Buisness','Psycology','History','Cooking','Sports','Design','Writing','Economics','Mathematics','Politics','Journalism']; %>
    <div id="interest-container">
        <% for(let i of interest){ %>

            <div id="interest-<%=i%>" class="style-block" >
                <div class="checked hide">
                    <img src="/images/checked.png" alt="" width="20px">
                </div>
                <span><%=i%></span>
            </div>

        <%}%>
    </div>

    <div id="continue-button">
        <button type="button" disabled >Follow 4 more topics to continue</button>
    </div>

</div>