<link rel="stylesheet" href="/css/postHome.css">


<div id="home-container" >
    <div id="feed-container">
        
        <div id="feed-header">
            <i class="fas fa-rss"></i>
            <span>Feed</span>
        </div>

        <div id="feed-interest">
            <%for(let i of user.interests){  %>
                <div class="interest-container-feed">
                    <span><%=i%></span>
                </div>
            <% } %>
        </div>

    </div>

    <!-- 1st div  -->
    <div id="main-questions-container" >

        <div id="add-question-container" class="background-white" onclick="displayForm();">

            <div id="user-container">
                <img src="/uploads/user/avatar/Default.jpg" alt="" width="35px">
                <span><%= user.name %></span>
            </div>  

            <div id="content">
                <span>What is Your question ?</span>
            </div>

        </div>
        
        

        <div id="questions-answers">
           

            <!-- In this div there will be questions which you can answer -->
            <div id="questions-for-you" class="background-white">
                
                <div id="header">
                    <i class="far fa-lightbulb fa-lg"></i>
                    <span>Question for You</span>
                </div>

                <% for(let q of locals.questions) {%>
                    <% if(q.answersOnQuestion.length <=1) {%>
                        <div class="not-answered background-white">
                            <div class="header">Question added</div>
                            
                            <div class="Question">
                                <h3 ><%=q.question%></h3>
                            </div>
                            

                            <div class="description">
                                <span>No answers yet</span>
                            </div>
                            <div class="buttons">
                                <!-- some button to answer or follow this question -->
                                <button onclick="showAnswerTab();" class="answer">
                                    <i class="fas fa-feather-alt fa-lg"></i> 
                                    <span>
                                        Answer
                                    </span>
                                </button>
                                <button>
                                    <i class="fas fa-rss fa-lg"></i>
                                    <span>Folllow</span>
                                </button>

                                <i id="more" class="fas fa-ellipsis-h fa-lg" onclick="showOptions();"></i>
                                <!-- Options regarding question -->
                            </div>

                            <div class="textarea-for-answering display">
                                <div class="personal-details background-grey">
                                    <img src="/uploads/user/avatar/Default.jpg" alt="" width="55px">
                                    <div>
                                        <p><%=user.name %></p>
                                        <a href="">Edit Credentials</a>
                                    </div>
                                </div>

                                <div class="controls background-white">

                                    <div class="outer-control">

                                        <!-- ------------1--------------------- -->
                                        <div class="_1 control-style">
                                            <i class="fas fa-link" style="color:rgb(0, 102, 255);"></i>
                                            <input type="text" placeholder="Enter URL">
                                            <button onclick="show2nav();">Add</button>
                                        </div>


                                        <!-- -------------2----------------- -->
                                        <div class="_2 control-style">
                                            <div class="primary_controls"> 
                                                <div class="text-control" onclick="blue();">
                                                    <i class="fas fa-bold fa-lg"></i>
                                                    <input type="hidden" value="bold" >
                                                </div>
                                                <div class="text-control" onclick="blue();">
                                                    <i class="fas fa-italic fa-lg"></i>
                                                    <input type="hidden" value="italic">
                                                </div>
                                            </div>

                                            <div class="secondary_controls">
                                                <div class="other-control">
                                                    <i class="fas fa-images fa-lg"></i>
                                                    <input type="hidden" value="image">
                                                </div>

                                                <div class="other-control" onclick="show1nav();">
                                                    <i class="fas fa-link fa-lg"></i>
                                                    <input type="hidden" value="link">
                                                </div>

                                                
                                            </div>
                                        </div>
    
                                    </div>
                                    
                                </div>

                                <div class="input">
                                    <textarea name="answer" id="" cols="70" rows="7" placeholder="Write your answer"></textarea>
                                </div>

                                <div class='footer background-grey'>
                                    <button>Submit</button>
                                </div>

                            </div>
                            
                            <div class="options-for-question background-white animate__animated animate__pulse animate__faster display">
                                
                                <div class="style">
                                    <span>Answer Anonymously</span>
                                </div>
                                
                                <div class="style">
                                    <span>Downvote Question</span>
                                </div>
                                
                                <div class="style">
                                    <span>Report</span>
                                </div>
                                

                            </div>
                        </div>
                    
                <%} }%>

            </div>
        
          
        </div>

    </div>

    <div id="todo-container">

    </div>

</div>




<script src="/js/postHome.js"></script>

