<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='<%=assetPath("css/preHome.css")%>' />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Quora</title>
  </head>
  <body>
    <!-- ------------For notifications for signup actions---------------------- -->
    <!-- Error -->
    <div class="pop-up">
      <span> </span>
    </div>
    <div id="signup-noty" class="hide">
      <p>An account with these credentials already exists</p>
    </div>

    <!--Succesfullyy created  -->
    <div id="signup-created" class="hide">
      <p>Account created</p>
    </div>

    <!-- ----------------------------------------------------------------------- -->

    <!-- Pre login home page -->
    <div id="home-container">
      <img src='<%=assetPath("images/logo.png")%>' alt="Logo" />
      <p>A place to share knowledge and better understand the world</p>

      <!-- Login Methods -->
      <div id="login-methods">
        <div id="social-auth">
          <div id="google" class="methods">
            <img
              src="https://qsf.fs.quoracdn.net/-4-images.new_grid.google_white_inverted.png-26-8d71aa74ac5c65bb.png"
              alt="google"
            />
            <a id="google-auth" href="/user/auth/google"
              ><span>Continue with Google</span></a
            >
          </div>

          <div id="facebook" class="methods">
            <img
              src="https://qsf.fs.quoracdn.net/-4-images.new_grid.facebook_inverted.png-26-b1a38386832c2e24.png"
              alt="Facebook"
            />
            <a href="/user/auth/facebook "
              ><span>Continue with Facebook</span></a
            >
          </div>

          <span class="TosDisclaimer"
            ><a id="signUp" href="">Sign Up with email</a>.By signing up you
            indicate that you have read and agree to Quora's
            <a class="tos_link" href="#">Terms of Service</a> and
            <a class="tos_link" href="#">Privacy Policy</a>.</span
          >
        </div>

        <div id="local-auth">
          <h5 id="login">Login</h5>

          <form id="login-form" action="/user/create-session" method="post">
            <input type="email" required name="email" placeholder="Email" />
            <input
              type="password"
              name="password"
              required
              placeholder="Password"
            />
            <!-- Forgot password link -->
            <a href="" onclick="reset();">Forgot Password?</a>
            <input type="submit" value="Login" class="button-style" />
          </form>
          <div id="warning" class="hide">
            Please Confirm Your Email Address Again
          </div>
        </div>
      </div>

      <!-- Some additional descriptions -->

      <p id="author">Made By Sujay Kumar</p>
    </div>

    <!-- Java Script files -->

    <script src='<%=assetPath("js/preHome.js")%>'></script>
  </body>
</html>
