<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora</title>
    <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body>
    <div class="container">
      <img src="/images/logo.png" alt="Logo" />
      <p class="info">
        A place to share knowledge and better understand the world
      </p>

      <div class="form-container">
        <p>Please enter and confirm your new password below.</p>

        <form action="" method="POST">
          <div class="form-row">
            <label for="new">New Password</label>
            <input id="new" type="password" name="pass" required />
          </div>

          <div class="form-row">
            <label for="confirm">Confirm Password</label>
            <input id="confirm" type="password" name="cpass" required />
          </div>
          <input type="submit" value="Reset Password" />
        </form>
      </div>
    </div>
  </body>
</html>
