<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Authorised</title>
    <style>
      body {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background: #333;
      }
      lottie-player {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
      }
      h1 {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player
      src="https://assets3.lottiefiles.com/private_files/lf30_3X1oGR.json"
      background="#333"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></lottie-player>
    <h1>401 UnAuthorised</h1>
  </body>
</html>
