%text-area {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
  height: auto;
  margin-bottom: 15px;
  position: relative;
  div.personal-details {
    border-bottom: 1px solid rgb(158, 158, 158);

    img {
      // border-radius: 50%;
      clip-path: circle(20px);

      cursor: pointer;
    }
    div {
      display: inline-block;
      p:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      a {
        color: #636466;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .active {
    color: #195faa;
  }
  div.controls {
    // position: absolute;
    // top:0px;
    position: relative;
    width: 100%;
    border: 1px solid #cfcfcf;
    // border-right: none;
    height: 45px;
    overflow: hidden;
    // z-index: -1;
    .outer-control {
      position: absolute;
      width: 100%;
      top: -43px;
      transition: top 0.5s ease-in-out;

      .control-style {
        // border: 1px solid black;
        width: 100%;
        height: 45px;
        padding: 10px 15px;
        box-sizing: border-box;
      }

      ._1 {
        input {
          width: 88%;
          height: 90%;
          outline: none;
          border: 0;
          font-size: 1.1rem;
        }
        button {
          position: absolute;
          right: 20px;
          background-color: #f7f7f8;
          color: #939598;
          outline: none;
          border: 0;
          padding: 5px;
          border: 1px solid #f7f7f8;
        }
      }
      ._2 {
        .primary_controls {
          // margin-right: 443px;
          display: inline-block;
          div.text-control {
            width: 30px;
            border-radius: 3px;
            height: 25px;
            // border:1px solid black;
            border-width: 1px;
            border-style: solid;
            border-color: white;
            display: inline-block;

            margin-right: 10px;
            color: grey;
            padding: 2px 5px;
            box-sizing: border-box;
          }
          div:hover {
            border-color: rgb(0, 102, 255);
            // overflow: hidden;
          }
        }
        .secondary_controls {
          display: inline-block;
          position: absolute;
          right: 20px;
          .other-control {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid white;
            margin-right: 10px;
            color: grey;
            padding: 2px 5px;
            box-sizing: border-box;
          }

          .other-control:hover {
            border: 1px solid rgb(0, 102, 255);
          }
        }
      }
    }
  }

  .input {
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);

    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }

    div {
      border: none;
      outline: none;
      font-size: 1.1rem;
      padding: 10px;
      box-sizing: border-box;
      height: 150px;
      overflow-y: auto;
    }
  }
  .footer {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    box-sizing: border-box;

    button {
      background-color: rgb(32, 88, 207);
      color: white;
      border: none;
      outline: none;
      border-radius: 25px;
      padding: 10px;
    }
    button:hover {
      background-color: rgb(19, 72, 187);
    }
  }
}

// For the pop up

.pop-up {
  width: 100%;
  background-color: rgb(201, 201, 201);
  text-align: center;
  position: fixed;
  z-index: 50;
  height: 50px;
  top: -200px;
  transition: top 0.4s ease-in-out;
  span {
    color: white;
    font-weight: 600;
    position: relative;
    top: 10px;
  }
}
.green {
  background-color: rgb(10, 150, 10);
}

.top {
  top: 65px;
}

@mixin body-style {
  margin: 0px;
  background-image: url("https://qsf.fs.quoracdn.net/-4-images.home.illo_1920.png-26-e9e6fbe02d908942.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
