.messageBox-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 80%;
  z-index: 103;
  visibility: hidden;
  //   pointer-events: none;
  border: 1px solid rgb(197, 197, 197);
  .messageBox-header {
    padding: 16px;
    box-sizing: border-box;
    color: #333;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .messageBox-listOfUser-container {
    overflow-y: auto;
    // border: 1px solid red;
    height: 80%;
    .user {
      padding: 16px;
      border-bottom: 1px solid rgb(209, 209, 209);
      .image-container {
        width: 60px;
        display: inline-block;
        text-align: center;
        img {
          clip-path: circle(20px);
          vertical-align: middle;
        }
        margin-right: 10px;
      }

      p {
        font-weight: 550;
        display: inline-block;
      }

      &:hover {
        background: rgb(226, 226, 226);
        cursor: pointer;
      }
    }
  }
  .messageBox-footer {
    border-top: 1px solid rgb(214, 214, 214);
    padding: 16px;
    position: relative;
    button {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 10px;
      color: grey;
      cursor: pointer;
      &:hover {
        background: rgb(204, 204, 204);
      }
    }
  }
}
