.display {
  display: none;
}
.containerstyleFormessage {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  transition: all 0.3s ease;
  .messageBox-header {
    padding: 16px;
    background: rgb(243, 243, 243);

    box-sizing: border-box;
    color: #333;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    i {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
.main {
  overflow: hidden;
  // border: 1px solid brown;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 103;
  box-sizing: border-box;

  visibility: hidden;
  .list {
    //   pointer-events: none;
    display: inline-block;
    vertical-align: top;
    // border: 1px solid #fafafa;
    border: 1px solid violet;
    box-sizing: border-box;

    .messageBox-listOfUser-container {
      overflow-y: auto;
      // border: 1px solid red;
      height: 80%;
      .user {
        padding: 16px;
        border-bottom: 1px solid rgb(209, 209, 209);
        .image-container {
          width: 60px;
          display: inline-block;
          text-align: center;
          img {
            clip-path: circle(20px);
            vertical-align: middle;
          }
          margin-right: 10px;
        }

        p {
          font-weight: 550;
          display: inline-block;
        }

        &:hover {
          background: rgb(226, 226, 226);
          cursor: pointer;
        }
      }
    }

    .messageBox-footer {
      box-sizing: border-box;

      border-top: 1px solid rgb(214, 214, 214);
      // border: 1px solid black;
      padding: 16px;
      position: relative;
      background: #fafafa;

      button {
        // position: absolute;
        // display: inline-block;
        // top: 20px;
        // right: 20px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: grey;
        cursor: pointer;
        &:hover {
          background: rgb(204, 204, 204);
        }
      }
    }
  }
  .chatbox {
    display: inline-block;
    // transform: translateY(-100%);
    // border: 1px solid black;
    height: 100%;
    box-sizing: border-box;

    .message-container {
      height: 78%;

      // border: 1px solid red;
      ul {
        // overflow: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        list-style: none;
        padding-top: 20px;
        box-sizing: border-box;
        // border: 1px solid black;
        li {
          // border: 1px solid black;
          // width: 100%;
          // display: inline-block;
          margin-bottom: 20px;
          span {
            padding: 8px 16px;
            font-size: 1.1rem;
            display: inline-block;
            border-radius: 16px;
            max-width: 70%;
          }
        }
        .mine {
          text-align: right;
          padding-right: 20px;
          span {
            background-color: #359dff;
            color: #fff;
          }
        }
        .other {
          padding-left: 20px;
          text-align: left;
          span {
            color: #333;

            background-color: #e6e6e6;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .chatBox-footer {
      padding: 10px 10px;
      border-top: 1px solid rgb(214, 214, 214);
      background: #fafafa;

      position: relative;

      input {
        outline: none;
        border-radius: 3px;
        width: 85%;

        font-size: 1.1rem;
        padding: 10px;
        box-sizing: border-box;
        height: 50px;
        border: 1px solid rgb(207, 207, 207);
        box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.5);
        margin-right: 10px;
        border-radius: 30px;
      }

      button {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        flex: 1;
        position: absolute;
        right: 25px;
        font-size: 1.4rem;
        font-weight: 500;
        outline: 0;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background: #03be67;
        color: #fff;
        border: none;
        // border: 1px solid #3a66ad;
        box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .main {
    width: 80%;
    // height: 100%;
    height: 80%;
    .chatbox {
      .chatBox-footer {
        // padding: 3px;
        input {
          width: 70%;
          // height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .containerstyleFormessage {
    .messageBox-header {
      h2 {
        font-size: 1rem;
      }
    }
  }
  .main {
    width: 100%;
    height: 100%;
    // overflow: visible;
    border-radius: 10px;
    .chatbox {
      .message-container {
        height: 80%;
      }
      .chatBox-footer {
        padding-top: 20px;
        height: 100px;
        input {
          width: 60%;
        }
        button {
          position: absolute;
          right: 25px;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

// @media screen and (max-height: 800px) {
//   .main {
//     height: 90%;
//   }
// }
// @media screen and (max-height: 600px) {
//   .main {
//     height: 95%;
//   }
// }
