.pop-up
{
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: rgb(201, 201, 201);

    z-index: 50;
    height: 50px;
    top:-200px;
    transition: top 0.4s ease-in-out;
    span
    {
        color: white;
        font-weight: 600;
        position: relative;
        top:10px;
    }
}

.grey-popup{
    background-color: rgb(201, 201, 201);
}

.green-popup{
    background-color: rgb(95, 190, 95);
}

.top{
    top:65px;
}



#home-container
{
    width: 1500px;
    // border: 1px solid black;
    height: auto;
    position: absolute;
    left: 5%;
    padding: 25px 110px;
    box-sizing: border-box;
    
    // feed container
    #feed-container
    {
        width: 180px;
        height: auto;   //to be auto
        // border: 1px solid black;
        display: inline-block;
        margin-right: 20px;
        margin-left: 70px;
        // position: relative;
        vertical-align: top;
        padding: 0px;
        border-bottom: 1px solid rgb(139, 137, 137) ;
        // margin-bottom: 100px;

        #feed-header
        {
            padding: 5px;
            box-sizing: border-box;
            border-radius: 3px;
            // border: 1px solid black;
            color: #b92b27;
            margin-bottom: 3px;

            background-color:#f5bebb ;
            span{

                font-weight: 600;
                
            }
        }
        #feed-interest
        {
            .interest-container-feed
            {
                // border: 1px solid black;
                border-radius: 3px;
                padding: 5px;
                margin-bottom: 3px;
                span{
                    font-size: 0.9rem;
                    color: #636466;
                }
            }

            .interest-container-feed:hover{
                background-color: rgb(201, 198, 198);
            }
        }
        
    }

    .background-white
    {
        background-color: white;
    }
    .background-grey
    {
        background-color: rgb(235, 235, 235);
    }
    
    //main-container
    #main-questions-container
    {
        width: 700px;
        height: auto;
        // border: 1px solid black;
        display: inline-block;
        margin-right: 50px;
        
        position: relative;
        vertical-align: top;

        
        .display
        {
            display: none;
        }
        #add-question-container
        {
            width: 100%;
            cursor: pointer;
            // background-color: white;
            border: 1px solid rgb(194, 194, 194);

            border-radius: 4px;
            padding: 10px 15px;
            box-sizing: border-box;
            margin-bottom: 10px;
            box-shadow: 1px 1px 1px 1px  rgb(204, 204, 204);

            #user-container
            {
                img
                {
                    border-radius: 50%;
                    vertical-align: text-bottom;
                }
                span{
                    color: #939598;

                }
                
                margin-bottom:5px ;
            }

            #content
            {
                span{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #939598;
                }
            }
            

        }
        #questions-answers
        {
            

            #questions-for-you
            {
                border: 1px solid rgb(194, 194, 194);
                border-radius: 3px;
                margin-bottom: 5px;
                // background-color: white;
                #header
                {
                    height: 40px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    // background-color: white;
                    border-bottom: 1px solid rgb(194, 194, 194);

                    
                    i{
                        color: #860b0b;
                    }
                    span{
                        color: #939598;
                        font-size: 0.9rem;
                    }
                }
                div.not-answered
                {
                    border-bottom: 1px solid rgb(194, 194, 194);
                    // background-color: white;
                    border-radius: 3px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    // margin-bottom: 5px;
                    box-shadow: 1px 1px 1px 1px  rgb(204, 204, 204);
                    position: relative;
                    .header
                    {
                        color:#939598;
                        font-size: 0.85rem;
                        // border: 1px solid black;
                        
                    }
                    .Question
                    {
                        // border: 1px solid black;
                        position: relative;
                        bottom: 15px;
                        cursor: pointer;
                        // width: 200px;

                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                    .Question:hover{
                        text-decoration: underline;
                    }
                    .description
                    {
                        position: relative;
                        bottom: 20px;
                        span{
                            color: #939598;
                            font-weight: 700;
                            font-size: 0.9rem;
                        }
                    }
                    
                    div.buttons
                    {
                        position: relative;
                        bottom: 5px;
                        .blue
                        {
                            color: #195faa;
                        }
                        .grey
                        {
                            color: #636466;
                        }

                        button{
                            background: transparent;
                            outline:'none';
                            border: none;
                            padding: 10px;
                            margin-right: 10px;
                            border-radius: 25px;
                            box-sizing: border-box;
                            outline: none;
                        
                            span{
                                font-size: 1.1rem;
                                // color: #636466;
                            }
                            .upanddown
                            {
                                top:-20px;
                            }
                            
                            .initial
                            {
                                top:0px;   
                            }
                            i{
                                transform: scale(1);
                                transition: transform 0.1s ease-in-out;
                            }
                            .number_of_follow
                            {
                                position: relative;
                                top:1px;
                                // border: 1px solid black;
                                width: 15px;
                                height: 17px;
                                display: inline-block;
                                overflow: hidden;
                                .outer-cage
                                {
                                    position: absolute;
                                    
                                    transition: top 0.3s ease-in-out;
                                    div
                                    {
                                        font-size: 1.1rem;
                                        
                                        // position: absolute;
                                        // border: 1px solid black;
                                    }
                                }
                                
                            }
                        
                        }
                        button:hover{
                            background-color: rgb(219, 219, 219);
                        }

                        #more{
                            position: absolute;
                            top:10px;
                            right: 10px;
                            cursor: pointer;
                            padding: 5px;
                            border-radius: 15px;
                        }
                        #more:hover
                        {
                            background-color: rgb(219, 219, 219);
                        }
                    }

                    // For answering
                    .textarea-for-answering
                    {
                        border: 1px solid rgb(202, 202, 202);
                        border-radius: 3px;
                        height: auto;
                        margin-bottom: 15px;
                        position: relative;
                        div.personal-details
                        {
                            border-bottom: 1px solid rgb(158, 158, 158);
                            
                            img{
                                border-radius: 50%;
                                cursor: pointer;
                            }
                            div
                            {
                                display: inline-block;
                                p:hover{
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                                a{
                                    color: #636466;
                                    text-decoration: none;
                                }
                                a:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        .active
                        {
                            color: #195faa;
                        }
                        div.controls
                        {
                            // position: absolute;
                            // top:0px;
                            position: relative;
                            width: 100%;
                            border: 1px solid #cfcfcf;
                            // border-right: none;
                            height: 45px;
                            overflow: hidden;
                            // z-index: -1;
                            .outer-control
                            {
                                position: absolute;
                                width: 100%;
                                top:-43px;
                                transition: top 0.5s ease-in-out;

                                .control-style
                                {
                                    // border: 1px solid black;
                                    width: 100%;
                                    height: 45px;
                                    padding: 10px 15px;
                                    box-sizing: border-box;
                                }

                                ._1
                                {
                                    input{
                                        width: 88%;
                                        height: 90%;
                                        outline: none;
                                        border: 0;
                                        font-size: 1.1rem;
                                    }
                                    button{
                                        position: absolute;
                                        right: 20px;
                                        background-color: #f7f7f8;
                                        color: #939598;
                                        outline: none;
                                        border: 0;
                                        padding: 5px;
                                        border: 1px solid #f7f7f8;
                                    }
                                }
                                ._2
                                {
                                    .primary_controls
                                    {
                                        // margin-right: 443px;
                                        display: inline-block;
                                        div.text-control
                                        {
                                            width: 30px;
                                            border-radius: 3px;
                                            height: 25px;
                                            // border:1px solid black;
                                            border-width:1px;
                                            border-style: solid;
                                            border-color: white;
                                            display: inline-block;
                                            
                                            margin-right: 10px;
                                            color: grey;
                                            padding: 2px 5px;
                                            box-sizing: border-box;

                                        }
                                        div:hover
                                        {
                                            border-color: rgb(0, 102, 255);
                                            // overflow: hidden;
                                        }
                                    }
                                    .secondary_controls
                                    {
                                        display: inline-block;
                                        position: absolute;
                                        right: 20px;
                                        .other-control
                                        {
                                            display: inline-block;
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 3px;
                                            border:1px solid white;
                                            margin-right: 10px;
                                            color: grey;
                                            padding: 2px 5px;
                                            box-sizing: border-box;
                                        }

                                        .other-control:hover
                                        {
                                            border: 1px solid rgb(0, 102, 255);
                                        }
                                    }
                                }
                            }

                        }

                        .input
                        {
                            width: 100%;
                            border-bottom: 1px solid rgb(207, 207, 207);

                            .bold
                            {
                                font-weight: bold;
                            }
                            .italic
                            {
                                font-style: italic;
                            }
                            
                            div{
                                
                                border: none;
                                outline: none;
                                font-size: 1.1rem;
                                padding: 10px ;
                                box-sizing: border-box;
                                height: 150px;
                                overflow-y: auto;
                            }
                        }
                        .footer
                        {
                            width: 100%;
                            height: 50px;
                            padding: 10px 10px;
                            box-sizing: border-box;

                            button
                            {
                                background-color: rgb(32, 88, 207);
                                color: white;
                                border :none;
                                outline: none;
                                border-radius: 25px;
                                padding: 10px;
                            }
                            button:hover
                            {   
                                background-color: rgb(19, 72, 187);


                            }   
                        }
                    }

                    div.options-for-question
                    {
                        position: absolute;
                        right: 60px;
                        // bottom:15px;
                        top:105px;
                        z-index: 20;
                        width: 197.3px;
                        border: 1px solid rgb(212, 212, 212);
                        border-right: none;
                        // background-color: white;
                        border-radius: 3px;
                        box-shadow: 0 3px 6px rgba(10, 10, 10, 0.04);
                        
                        .style
                        {
                            padding: 5px 10px;
                            border-right: 1px solid rgb(212, 212, 212);
                            box-sizing: border-box;
                            width: 100%;
                            // height: 40px;
                            span{
                                color: #282829;
                                font-size: 0.9rem;
                            }
                        }
                        .style:hover{
                            background-color: rgb(236, 234, 234);
                        }
                    }
                
                }
            }
        }
        
    }

    // To do container
    #todo-container{
        // position: relative;
        // right: 100px;
        display: inline-block;
        width: 150px;
        height: 300px;
        border: 1px solid black;
    }

}

@media screen and (max-width:1350px){
    #home-container
    {
        left: 0%;
        // width: 100%;
        padding:25px 50px;
        // #feed-container
        // {
        //     // margin-left: 0px;
        // }
    }

}
// ------------------------2--------------------
@media screen and (max-width:1250px){
    #home-container
    {
        left: 0%;
        width: 100%;
        padding:25px 0px;
        #feed-container
        {
            margin-left: 2%;
        }
        // #main-questions-container
        // {
        //     // margin-right: 10px;
        //     // margin-left: 50px;
        // }
        #todo-container
        {
            display: none;
        }
    }

}

// ----------------------------3-----------------------

@media screen and (max-width:1000px){
    #home-container
    {
        left: 0%;
        width: 100%;
        padding:25px 0px;
        // text-align: center;
        #feed-container
        {
            // display: none;
            width: 100%;
            margin-left: 0;
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
            #feed-interest
            {
                display: flex;
                flex-wrap: wrap;
                padding-left: 10px;
            }
        }
        #main-questions-container
        {
            display: block;

            width: 100%;
        }
        #todo-container
        {
            display: none;
        }
    }    
}