@import "./utility";

* {
  text-decoration: none;
}

.pop-up {
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: rgb(201, 201, 201);

  z-index: 50;
  height: 50px;
  top: -200px;
  transition: top 0.4s ease-in-out;
  span {
    color: white;
    font-weight: 600;
    position: relative;
    top: 10px;
  }
}

.grey-popup {
  background-color: rgb(201, 201, 201);
}

.green-popup {
  background-color: rgb(95, 190, 95);
}

.top {
  top: 65px;
}

#home-container {
  width: 1500px;
  // border: 1px solid black;
  height: auto;
  position: absolute;
  left: 5%;
  padding: 25px 110px;
  box-sizing: border-box;

  .grey {
    color: rgb(112, 112, 112);
  }
  // feed container
  #feed-container {
    width: 180px;
    height: auto; //to be auto
    // border: 1px solid black;
    display: inline-block;
    margin-right: 20px;
    margin-left: 70px;
    // position: relative;
    vertical-align: top;
    padding: 0px;
    border-bottom: 1px solid rgb(139, 137, 137);
    // margin-bottom: 100px;

    #feed-header {
      padding: 5px;
      box-sizing: border-box;
      border-radius: 3px;
      // border: 1px solid black;
      color: #b92b27;
      margin-bottom: 3px;

      background-color: #f5bebb;
      span {
        font-weight: 600;
      }
    }
    #feed-interest {
      .interest-container-feed {
        // border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 3px;
        span {
          font-size: 0.9rem;
          color: #636466;
        }
      }

      .interest-container-feed:hover {
        background-color: rgb(201, 198, 198);
      }
    }
  }

  .background-white {
    background-color: white;
  }
  .background-grey {
    background-color: rgb(235, 235, 235);
  }

  //main-container
  #main-questions-container {
    width: 700px;
    height: auto;
    // border: 1px solid black;
    display: inline-block;
    margin-right: 50px;

    position: relative;
    vertical-align: top;

    .display {
      display: none;
    }
    #add-question-container {
      width: 100%;
      cursor: pointer;
      // background-color: white;
      border: 1px solid rgb(194, 194, 194);

      border-radius: 4px;
      padding: 10px 15px;
      box-sizing: border-box;
      margin-bottom: 10px;
      box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);

      #user-container {
        img {
          // border-radius: 50%;
          clip-path: circle(15px);
          vertical-align: text-bottom;
          // position: relative;
          // right: 8px;
        }
        span {
          color: #939598;
        }

        margin-bottom: 5px;
      }

      #content {
        span {
          font-size: 1.2rem;
          font-weight: 700;
          color: #939598;
        }
      }
    }
    #questions-answers {
      .container-style {
        border: 1px solid rgb(194, 194, 194);
        border-radius: 3px;
        margin-bottom: 10px;
      }
      .header-description {
        height: 40px;
        padding: 5px 10px;
        box-sizing: border-box;
        // background-color: white;
        border-bottom: 1px solid rgb(194, 194, 194);

        i {
          color: #860b0b;
        }
        span {
          color: #939598;
          font-size: 0.9rem;
        }
      }
      @include questionForyou;
      .AnswersToQuestions-container {
        // padding: 10px;
        // box-sizing: border-box;
        border: none;
        background: inherit;
        .padding {
          padding: 10px;
          box-sizing: border-box;
        }

        .questionAnswers {
          // border:1px solid rgb(194, 194, 194);
          height: auto;
          margin-bottom: 10px;
          box-shadow: 1px 1px 3px rgb(194, 194, 194);
          // border-bottom: 1px solid gray;
          background: #fff;
          .userInfo_container {
            // padding: 10px;

            img {
              clip-path: circle(20px);
              vertical-align: middle;
            }
            .name {
              display: inline-block;

              .ownerName {
                font-weight: 650;
                font-size: 1rem;
                color: black;
              }
              .ownerName:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          .question-container {
            position: relative;
            // top: -20px;
            a {
              color: black;
              text-decoration: none;
            }
            .question {
              font-weight: 700;
              font-size: 1.1rem;
              margin: 0;
            }
            .question:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .answer-container {
            position: relative;
            // top: -50px;
            // border: 1px solid black;
            max-height: 300px;
            overflow: hidden;
            .answer {
              margin: 5px;
              font-size: 1.1rem;
              line-height: 1.7rem;
              color: #333;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
            }
          }

          .controls {
            position: relative;
            // border-bottom: 1px solid grey;
            .button {
              background: none;
              outline: none;
              // border:1px solid rgb(202, 202, 202);
              border: none;
              padding: 10px;
              cursor: pointer;
              border-radius: 20px;
            }
            .blue {
              color: #195faa;
            }
            .grey {
              color: #636466;
            }
            .first {
              transition: all 0.3s ease;
            }
            .first:hover {
              transform: rotate(-35deg);
            }
            .comment:hover {
              background: rgb(209, 209, 209);
            }
            .more {
              position: absolute;
              right: 10px;
              bottom: 5px;
            }

            .more:hover {
              cursor: pointer;
              background: none;
            }
            .like {
              border: none;
              background-color: inherit;
              outline: none;

              .number_of_like {
                display: inline-block;
                // border: 1px solid black;
                height: 20px;
                width: 20px;
                position: relative;
                top: 10px;
                overflow: hidden;
                .outer-cage {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  // top: -20px;
                  // top: 0px;
                  transition: top 0.3s ease-in-out;
                  div {
                    width: 100%;
                    height: 100%;
                  }
                }
                .initial {
                  top: 0px;
                }
                .upanddown {
                  top: -20px;
                }
              }
            }
          }
        }
      }
    }
  }

  // To do container
  #todo-container {
    // position: relative;
    // right: 100px;
    display: inline-block;
    width: 150px;
    height: 300px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 1350px) {
  #home-container {
    left: 0%;
    // width: 100%;
    padding: 25px 50px;
    // #feed-container
    // {
    //     // margin-left: 0px;
    // }
  }
}
// ------------------------2--------------------
@media screen and (max-width: 1250px) {
  #home-container {
    left: 0%;
    width: 100%;
    padding: 25px 0px;
    #feed-container {
      margin-left: 2%;
    }
    // #main-questions-container
    // {
    //     // margin-right: 10px;
    //     // margin-left: 50px;
    // }
    #todo-container {
      display: none;
    }
  }
}

// ----------------------------3-----------------------

@media screen and (max-width: 1000px) {
  #home-container {
    left: 0%;
    width: 100%;
    padding: 25px 0px;
    // text-align: center;
    #feed-container {
      // display: none;
      width: 100%;
      margin-left: 0;
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box;
      #feed-interest {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
      }
    }
    #main-questions-container {
      display: block;

      width: 100%;
    }
    #todo-container {
      display: none;
    }
  }
}
