canvas {
  background: linear-gradient(#b3d5e6 0%, #eef4f6 75%);
  display: block; }

div {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: url(https://jackrugile.com/images/misc/skyline-texture.png); }
