.messageBox-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 80%;
  z-index: 103;
  visibility: hidden;
  border: 1px solid #c5c5c5; }
  .messageBox-container .messageBox-header {
    padding: 16px;
    box-sizing: border-box;
    color: #333;
    width: 100%;
    border-bottom: 1px solid #cccccc; }
    .messageBox-container .messageBox-header h2 {
      margin: 0;
      padding: 0; }
  .messageBox-container .messageBox-listOfUser-container {
    overflow-y: auto;
    height: 80%; }
    .messageBox-container .messageBox-listOfUser-container .user {
      padding: 16px;
      border-bottom: 1px solid #d1d1d1; }
      .messageBox-container .messageBox-listOfUser-container .user .image-container {
        width: 60px;
        display: inline-block;
        text-align: center;
        margin-right: 10px; }
        .messageBox-container .messageBox-listOfUser-container .user .image-container img {
          clip-path: circle(20px);
          vertical-align: middle; }
      .messageBox-container .messageBox-listOfUser-container .user p {
        font-weight: 550;
        display: inline-block; }
      .messageBox-container .messageBox-listOfUser-container .user:hover {
        background: #e2e2e2;
        cursor: pointer; }
  .messageBox-container .messageBox-footer {
    border-top: 1px solid #d6d6d6;
    padding: 16px;
    position: relative; }
    .messageBox-container .messageBox-footer button {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 10px;
      color: grey;
      cursor: pointer; }
      .messageBox-container .messageBox-footer button:hover {
        background: #cccccc; }
