.notifications-container {
  width: 60%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  text-align: left;
  transform: translate(-50%, 0%);
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box; }
  .notifications-container .notification-header {
    padding-left: 40px; }
  .notifications-container .noty-container #notification-list {
    list-style: none; }
    .notifications-container .noty-container #notification-list li {
      width: 100%;
      height: 70px;
      border-top: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      background-color: #edf1f5;
      padding-left: 10px;
      box-sizing: border-box;
      cursor: pointer; }
      .notifications-container .noty-container #notification-list li p {
        color: #333;
        font-size: 1.2rem; }
