.pop-up {
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #c9c9c9;
  z-index: 50;
  height: 50px;
  top: -200px;
  transition: top 0.4s ease-in-out; }
  .pop-up span {
    color: white;
    font-weight: 600;
    position: relative;
    top: 10px; }

.grey-popup {
  background-color: #c9c9c9; }

.green-popup {
  background-color: #5fbe5f; }

.top {
  top: 65px; }

#home-container {
  width: 1500px;
  height: auto;
  position: absolute;
  left: 5%;
  padding: 25px 110px;
  box-sizing: border-box; }
  #home-container .grey {
    color: #707070; }
  #home-container #feed-container {
    width: 180px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    margin-left: 70px;
    vertical-align: top;
    padding: 0px;
    border-bottom: 1px solid #8b8989; }
    #home-container #feed-container #feed-header {
      padding: 5px;
      box-sizing: border-box;
      border-radius: 3px;
      color: #b92b27;
      margin-bottom: 3px;
      background-color: #f5bebb; }
      #home-container #feed-container #feed-header span {
        font-weight: 600; }
    #home-container #feed-container #feed-interest .interest-container-feed {
      border-radius: 3px;
      padding: 5px;
      margin-bottom: 3px; }
      #home-container #feed-container #feed-interest .interest-container-feed span {
        font-size: 0.9rem;
        color: #636466; }
    #home-container #feed-container #feed-interest .interest-container-feed:hover {
      background-color: #c9c6c6; }
  #home-container .background-white {
    background-color: white; }
  #home-container .background-grey {
    background-color: #ebebeb; }
  #home-container #main-questions-container {
    width: 700px;
    height: auto;
    display: inline-block;
    margin-right: 50px;
    position: relative;
    vertical-align: top; }
    #home-container #main-questions-container .display {
      display: none; }
    #home-container #main-questions-container #add-question-container {
      width: 100%;
      cursor: pointer;
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      padding: 10px 15px;
      box-sizing: border-box;
      margin-bottom: 10px;
      box-shadow: 1px 1px 1px 1px #cccccc; }
      #home-container #main-questions-container #add-question-container #user-container {
        margin-bottom: 5px; }
        #home-container #main-questions-container #add-question-container #user-container img {
          clip-path: circle(15px);
          vertical-align: text-bottom; }
        #home-container #main-questions-container #add-question-container #user-container span {
          color: #939598; }
      #home-container #main-questions-container #add-question-container #content span {
        font-size: 1.2rem;
        font-weight: 700;
        color: #939598; }
    #home-container #main-questions-container #questions-answers .container-style {
      border: 1px solid #c2c2c2;
      border-radius: 3px;
      margin-bottom: 10px; }
    #home-container #main-questions-container #questions-answers .header-description {
      height: 40px;
      padding: 5px 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #c2c2c2; }
      #home-container #main-questions-container #questions-answers .header-description i {
        color: #860b0b; }
      #home-container #main-questions-container #questions-answers .header-description span {
        color: #939598;
        font-size: 0.9rem; }
    #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered {
      border-bottom: 1px solid #c2c2c2;
      border-radius: 3px;
      padding: 5px 10px;
      box-sizing: border-box;
      box-shadow: 1px 1px 1px 1px #cccccc;
      position: relative; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .header {
        color: #939598;
        font-size: 0.85rem; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .Question {
        position: relative;
        bottom: 15px;
        cursor: pointer; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .Question a {
          color: black;
          text-decoration: none; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .Question:hover {
        text-decoration: underline; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .description {
        position: relative;
        bottom: 20px; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .description span {
          color: #939598;
          font-weight: 700;
          font-size: 0.9rem; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons {
        position: relative;
        bottom: 5px; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons .blue {
          color: #195faa; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons .grey {
          color: #636466; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button {
          background: transparent;
          outline: 'none';
          border: none;
          padding: 10px;
          margin-right: 10px;
          border-radius: 25px;
          box-sizing: border-box;
          outline: none; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button span {
            font-size: 1.1rem; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button .upanddown {
            top: -20px; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button .initial {
            top: 0px; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button i {
            transform: scale(1);
            transition: transform 0.1s ease-in-out; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button .number_of_follow {
            position: relative;
            top: 1px;
            width: 15px;
            height: 17px;
            display: inline-block;
            overflow: hidden; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button .number_of_follow .outer-cage {
              position: absolute;
              transition: top 0.3s ease-in-out; }
              #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button .number_of_follow .outer-cage div {
                font-size: 1.1rem; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons button:hover {
          background-color: #dbdbdb; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons #more {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          padding: 5px;
          border-radius: 15px; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.buttons #more:hover {
          background-color: #dbdbdb; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering {
        border: 1px solid #cacaca;
        border-radius: 3px;
        height: auto;
        margin-bottom: 15px;
        position: relative; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details {
          border-bottom: 1px solid #9e9e9e; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details img {
            clip-path: circle(20px);
            cursor: pointer; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details div {
            display: inline-block; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details div p:hover {
              text-decoration: underline;
              cursor: pointer; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details div a {
              color: #636466;
              text-decoration: none; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.personal-details div a:hover {
              text-decoration: underline; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .active {
          color: #195faa; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls {
          position: relative;
          width: 100%;
          border: 1px solid #cfcfcf;
          height: 45px;
          overflow: hidden; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control {
            position: absolute;
            width: 100%;
            top: -43px;
            transition: top 0.5s ease-in-out; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control .control-style {
              width: 100%;
              height: 45px;
              padding: 10px 15px;
              box-sizing: border-box; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._1 input {
              width: 88%;
              height: 90%;
              outline: none;
              border: 0;
              font-size: 1.1rem; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._1 button {
              position: absolute;
              right: 20px;
              background-color: #f7f7f8;
              color: #939598;
              outline: none;
              border: 0;
              padding: 5px;
              border: 1px solid #f7f7f8; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .primary_controls {
              display: inline-block; }
              #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .primary_controls div.text-control {
                width: 30px;
                border-radius: 3px;
                height: 25px;
                border-width: 1px;
                border-style: solid;
                border-color: white;
                display: inline-block;
                margin-right: 10px;
                color: grey;
                padding: 2px 5px;
                box-sizing: border-box; }
              #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .primary_controls div:hover {
                border-color: #0066ff; }
            #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .secondary_controls {
              display: inline-block;
              position: absolute;
              right: 20px; }
              #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .secondary_controls .other-control {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                border: 1px solid white;
                margin-right: 10px;
                color: grey;
                padding: 2px 5px;
                box-sizing: border-box; }
              #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering div.controls .outer-control ._2 .secondary_controls .other-control:hover {
                border: 1px solid #0066ff; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .input {
          width: 100%;
          border-bottom: 1px solid #cfcfcf; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .input .bold {
            font-weight: bold; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .input .italic {
            font-style: italic; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .input div {
            border: none;
            outline: none;
            font-size: 1.1rem;
            padding: 10px;
            box-sizing: border-box;
            height: 150px;
            overflow-y: auto; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .footer {
          width: 100%;
          height: 50px;
          padding: 10px 10px;
          box-sizing: border-box; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .footer button {
            background-color: #2058cf;
            color: white;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 10px; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered .textarea-for-answering .footer button:hover {
            background-color: #1348bb; }
      #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.options-for-question {
        position: absolute;
        right: 60px;
        top: 105px;
        z-index: 20;
        width: 197.3px;
        border: 1px solid #d4d4d4;
        border-right: none;
        border-radius: 3px;
        box-shadow: 0 3px 6px rgba(10, 10, 10, 0.04); }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.options-for-question .style {
          padding: 5px 10px;
          border-right: 1px solid #d4d4d4;
          box-sizing: border-box;
          width: 100%; }
          #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.options-for-question .style span {
            color: #282829;
            font-size: 0.9rem; }
        #home-container #main-questions-container #questions-answers #questions-for-you div.not-answered div.options-for-question .style:hover {
          background-color: #eceaea; }
    #home-container #main-questions-container #questions-answers .AnswersToQuestions-container {
      border: none;
      background: inherit; }
      #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .padding {
        padding: 10px;
        box-sizing: border-box; }
      #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers {
        height: auto;
        margin-bottom: 10px;
        box-shadow: 1px 1px 3px #c2c2c2;
        background: #fff; }
        #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .userInfo_container img {
          clip-path: circle(20px);
          vertical-align: middle; }
        #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .userInfo_container .name {
          display: inline-block; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .userInfo_container .name .ownerName {
            font-weight: 650;
            font-size: 1.0rem; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .userInfo_container .name .ownerName:hover {
            cursor: pointer;
            text-decoration: underline; }
        #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .question-container {
          position: relative; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .question-container a {
            color: black;
            text-decoration: none; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .question-container .question {
            font-weight: 700;
            font-size: 1.1rem;
            margin: 0; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .question-container .question:hover {
            text-decoration: underline;
            cursor: pointer; }
        #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .answer-container {
          position: relative;
          max-height: 300px;
          overflow: hidden; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .answer-container .answer {
            margin: 5px;
            font-size: 1.1rem;
            line-height: 1.7rem;
            color: #333;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
        #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls {
          position: relative; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .button {
            background: none;
            outline: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 20px; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .blue {
            color: #195faa; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .grey {
            color: #636466; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .first {
            transition: all 0.3s ease; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .first:hover {
            transform: rotate(-35deg); }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .comment:hover {
            background: #d1d1d1; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .more {
            position: absolute;
            right: 10px;
            bottom: 5px; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .more:hover {
            cursor: pointer;
            background: none; }
          #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like {
            border: none;
            background-color: inherit;
            outline: none; }
            #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like .number_of_like {
              display: inline-block;
              height: 20px;
              width: 20px;
              position: relative;
              top: 10px;
              overflow: hidden; }
              #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like .number_of_like .outer-cage {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: top 0.3s ease-in-out; }
                #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like .number_of_like .outer-cage div {
                  width: 100%;
                  height: 100%; }
              #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like .number_of_like .initial {
                top: 0px; }
              #home-container #main-questions-container #questions-answers .AnswersToQuestions-container .questionAnswers .controls .like .number_of_like .upanddown {
                top: -20px; }
  #home-container #todo-container {
    display: inline-block;
    width: 150px;
    height: 300px;
    border: 1px solid black; }

@media screen and (max-width: 1350px) {
  #home-container {
    left: 0%;
    padding: 25px 50px; } }

@media screen and (max-width: 1250px) {
  #home-container {
    left: 0%;
    width: 100%;
    padding: 25px 0px; }
    #home-container #feed-container {
      margin-left: 2%; }
    #home-container #todo-container {
      display: none; } }

@media screen and (max-width: 1000px) {
  #home-container {
    left: 0%;
    width: 100%;
    padding: 25px 0px; }
    #home-container #feed-container {
      width: 100%;
      margin-left: 0;
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box; }
      #home-container #feed-container #feed-interest {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px; }
    #home-container #main-questions-container {
      display: block;
      width: 100%; }
    #home-container #todo-container {
      display: none; } }
