.main-container .profile-container .Answer-container .textarea-for-answering {
  border: 1px solid #cacaca;
  border-radius: 3px;
  height: auto;
  margin-bottom: 15px;
  position: relative; }
  .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details {
    border-bottom: 1px solid #9e9e9e; }
    .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details img {
      clip-path: circle(20px);
      cursor: pointer; }
    .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details div {
      display: inline-block; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details div p:hover {
        text-decoration: underline;
        cursor: pointer; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details div a {
        color: #636466;
        text-decoration: none; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.personal-details div a:hover {
        text-decoration: underline; }
  .main-container .profile-container .Answer-container .textarea-for-answering .active {
    color: #195faa; }
  .main-container .profile-container .Answer-container .textarea-for-answering div.controls {
    position: relative;
    width: 100%;
    border: 1px solid #cfcfcf;
    height: 45px;
    overflow: hidden; }
    .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control {
      position: absolute;
      width: 100%;
      top: -43px;
      transition: top 0.5s ease-in-out; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control .control-style {
        width: 100%;
        height: 45px;
        padding: 10px 15px;
        box-sizing: border-box; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._1 input {
        width: 88%;
        height: 90%;
        outline: none;
        border: 0;
        font-size: 1.1rem; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._1 button {
        position: absolute;
        right: 20px;
        background-color: #f7f7f8;
        color: #939598;
        outline: none;
        border: 0;
        padding: 5px;
        border: 1px solid #f7f7f8; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .primary_controls {
        display: inline-block; }
        .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .primary_controls div.text-control {
          width: 30px;
          border-radius: 3px;
          height: 25px;
          border-width: 1px;
          border-style: solid;
          border-color: white;
          display: inline-block;
          margin-right: 10px;
          color: grey;
          padding: 2px 5px;
          box-sizing: border-box; }
        .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .primary_controls div:hover {
          border-color: #0066ff; }
      .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .secondary_controls {
        display: inline-block;
        position: absolute;
        right: 20px; }
        .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .secondary_controls .other-control {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          border: 1px solid white;
          margin-right: 10px;
          color: grey;
          padding: 2px 5px;
          box-sizing: border-box; }
        .main-container .profile-container .Answer-container .textarea-for-answering div.controls .outer-control ._2 .secondary_controls .other-control:hover {
          border: 1px solid #0066ff; }
  .main-container .profile-container .Answer-container .textarea-for-answering .input {
    width: 100%;
    border-bottom: 1px solid #cfcfcf; }
    .main-container .profile-container .Answer-container .textarea-for-answering .input .bold {
      font-weight: bold; }
    .main-container .profile-container .Answer-container .textarea-for-answering .input .italic {
      font-style: italic; }
    .main-container .profile-container .Answer-container .textarea-for-answering .input div {
      border: none;
      outline: none;
      font-size: 1.1rem;
      padding: 10px;
      box-sizing: border-box;
      height: 150px;
      overflow-y: auto; }
  .main-container .profile-container .Answer-container .textarea-for-answering .footer {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    box-sizing: border-box; }
    .main-container .profile-container .Answer-container .textarea-for-answering .footer button {
      background-color: #2058cf;
      color: white;
      border: none;
      outline: none;
      border-radius: 25px;
      padding: 10px; }
    .main-container .profile-container .Answer-container .textarea-for-answering .footer button:hover {
      background-color: #1348bb; }

.pop-up {
  width: 100%;
  background-color: #c9c9c9;
  text-align: center;
  position: fixed;
  z-index: 50;
  height: 50px;
  top: -200px;
  transition: top 0.4s ease-in-out; }
  .pop-up span {
    color: white;
    font-weight: 600;
    position: relative;
    top: 10px; }

.green {
  background-color: #0a960a; }

.top {
  top: 65px; }

.main-container {
  width: 70%;
  height: 100%;
  background: #fff;
  position: relative;
  left: 15%;
  padding: 1rem;
  box-sizing: border-box; }
  .main-container .grey {
    color: gray; }
  .main-container .profile-container {
    width: 70%;
    display: inline-block;
    vertical-align: top; }
    .main-container .profile-container .avatar-preview {
      position: fixed;
      z-index: 103;
      width: 700px;
      height: 500px;
      background: #fff;
      left: 25%;
      border-radius: 20px;
      text-align: center;
      border: 1px solid grey; }
      .main-container .profile-container .avatar-preview .avatar-header {
        padding: 10px;
        box-sizing: border-box;
        color: #195faa;
        border-bottom: 1px solid #c2c2c2;
        width: 100%; }
      .main-container .profile-container .avatar-preview img {
        padding: 0px;
        margin-top: 20px;
        clip-path: circle(130px); }
      .main-container .profile-container .avatar-preview .avatar-footer {
        border-top: 1px solid #c2c2c2;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px; }
        .main-container .profile-container .avatar-preview .avatar-footer button {
          border: none;
          outline: none;
          background: inherit;
          padding: 10px;
          box-sizing: border-box;
          font-weight: 600;
          border-radius: 20px; }
        .main-container .profile-container .avatar-preview .avatar-footer .cancel {
          color: #fff;
          background: #c2c2c2;
          position: absolute;
          right: 150px;
          top: 10px; }
        .main-container .profile-container .avatar-preview .avatar-footer .cancel:hover {
          background: grey; }
        .main-container .profile-container .avatar-preview .avatar-footer .submit {
          position: absolute;
          right: 10px;
          top: 10px;
          color: #fff;
          background: #195faa; }
        .main-container .profile-container .avatar-preview .avatar-footer .submit:hover {
          background: #0a488a; }
    .main-container .profile-container .Avatar {
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      .main-container .profile-container .Avatar input[type="file"] {
        position: absolute;
        width: 150px;
        height: 150px;
        opacity: 0;
        cursor: pointer;
        z-index: 1; }
      .main-container .profile-container .Avatar img {
        clip-path: circle(60px at 50% 50%);
        overflow: hidden; }
      .main-container .profile-container .Avatar .edit {
        transform: scale(0);
        position: absolute;
        top: 70px;
        left: 70px;
        padding: 5px;
        background: #2c6be0;
        border-radius: 80%;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
      .main-container .profile-container .Avatar input:hover ~ .edit {
        background: #0c50cf;
        transform: scale(1); }
    .main-container .profile-container .user-info {
      display: inline-block; }
      .main-container .profile-container .user-info .name {
        margin: 0;
        display: inline-block; }
        .main-container .profile-container .user-info .name .name-edit {
          visibility: hidden;
          font-size: 0.9rem;
          font-weight: 400;
          color: #a7a7a7;
          cursor: pointer; }
      .main-container .profile-container .user-info .name:hover .name-edit {
        visibility: visible;
        text-decoration: underline; }
      .main-container .profile-container .user-info .profile-cred {
        display: block;
        color: #a0a0a0;
        cursor: pointer;
        margin-top: 5px; }
      .main-container .profile-container .user-info .profile-cred:hover {
        text-decoration: underline; }
    .main-container .profile-container .user-desc {
      padding-bottom: 5px;
      border-bottom: 2px solid #a1a1a1; }
      .main-container .profile-container .user-desc #desc:hover {
        text-decoration: underline;
        cursor: pointer; }
    .main-container .profile-container .nav-barcontainer {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid #b9b9b9; }
      .main-container .profile-container .nav-barcontainer .greyNav {
        color: grey; }
      .main-container .profile-container .nav-barcontainer .redNav {
        color: #b92b27; }
      .main-container .profile-container .nav-barcontainer .Border {
        border-bottom: 2px solid #b92b27; }
      .main-container .profile-container .nav-barcontainer .nav-items {
        cursor: pointer;
        flex: 1;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 20px 0px; }
    .main-container .profile-container .Answer-container {
      margin-top: 10px; }
      .main-container .profile-container .Answer-container header {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #bebebe; }
      .main-container .profile-container .Answer-container .answer {
        border-bottom: 1px solid #bebebe;
        padding-bottom: 10px;
        position: relative; }
        .main-container .profile-container .Answer-container .answer .user-info img {
          clip-path: circle(20px); }
        .main-container .profile-container .Answer-container .answer .user-info img,
        .main-container .profile-container .Answer-container .answer .user-info p {
          display: inline-block;
          vertical-align: middle; }
        .main-container .profile-container .Answer-container .answer .user-info p {
          font-weight: 700; }
        .main-container .profile-container .Answer-container .answer .question-answer a {
          text-decoration: none; }
        .main-container .profile-container .Answer-container .answer .question-answer .question {
          font-weight: 700;
          cursor: pointer;
          font-size: 1.1rem;
          color: black; }
        .main-container .profile-container .Answer-container .answer .question-answer .question:hover {
          text-decoration: underline; }
        .main-container .profile-container .Answer-container .answer .question-answer .answerToQuestion {
          color: #333;
          line-height: 1.8;
          max-height: 70px;
          overflow: hidden;
          cursor: pointer;
          position: relative; }
        .main-container .profile-container .Answer-container .answer .question-answer #read_more {
          position: absolute;
          bottom: 10px;
          right: 0;
          text-decoration: underline; }
        .main-container .profile-container .Answer-container .answer .more {
          background: none;
          border: none;
          outline: none;
          padding: 5px;
          border-radius: 15px;
          position: absolute;
          right: 10px;
          bottom: 5px; }
        .main-container .profile-container .Answer-container .answer .more:hover {
          background: #afafaf; }
        .main-container .profile-container .Answer-container .answer .options-for-answer {
          position: absolute;
          right: 50px;
          bottom: 0px;
          height: 60px;
          z-index: 20;
          width: 197.3px;
          border: 1px solid #d4d4d4;
          border-right: none;
          background-color: white;
          border-radius: 3px;
          box-shadow: 0 3px 6px rgba(10, 10, 10, 0.04); }
          .main-container .profile-container .Answer-container .answer .options-for-answer .style {
            text-align: start;
            padding: 5px 10px;
            border-right: 1px solid #d4d4d4;
            box-sizing: border-box;
            cursor: pointer;
            height: 30px; }
            .main-container .profile-container .Answer-container .answer .options-for-answer .style span {
              color: #282829;
              font-size: 0.9rem; }
          .main-container .profile-container .Answer-container .answer .options-for-answer .style:hover {
            background-color: #eceaea; }
    .main-container .profile-container .Question-container {
      margin-top: 10px; }
      .main-container .profile-container .Question-container header {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #bebebe; }
      .main-container .profile-container .Question-container .question .Question {
        position: relative;
        bottom: 15px;
        cursor: pointer; }
        .main-container .profile-container .Question-container .question .Question a {
          color: black;
          text-decoration: none; }
      .main-container .profile-container .Question-container .question .Question:hover {
        text-decoration: underline; }
      .main-container .profile-container .Question-container .question .description {
        position: relative;
        bottom: 20px; }
        .main-container .profile-container .Question-container .question .description span {
          color: #939598;
          font-weight: 700;
          font-size: 0.9rem; }
      .main-container .profile-container .Question-container .question div.buttons {
        position: relative;
        bottom: 5px; }
        .main-container .profile-container .Question-container .question div.buttons .blue {
          color: #195faa; }
        .main-container .profile-container .Question-container .question div.buttons .grey {
          color: #636466; }
        .main-container .profile-container .Question-container .question div.buttons button {
          background: transparent;
          outline: "none";
          border: none;
          padding: 10px;
          margin-right: 10px;
          border-radius: 25px;
          box-sizing: border-box;
          outline: none; }
          .main-container .profile-container .Question-container .question div.buttons button span {
            font-size: 1.1rem; }
          .main-container .profile-container .Question-container .question div.buttons button .upanddown {
            top: -20px; }
          .main-container .profile-container .Question-container .question div.buttons button .initial {
            top: 0px; }
          .main-container .profile-container .Question-container .question div.buttons button i {
            transform: scale(1);
            transition: transform 0.1s ease-in-out; }
          .main-container .profile-container .Question-container .question div.buttons button .number_of_follow {
            position: relative;
            top: 1px;
            width: 15px;
            height: 17px;
            display: inline-block;
            overflow: hidden; }
            .main-container .profile-container .Question-container .question div.buttons button .number_of_follow .outer-cage {
              position: absolute;
              transition: top 0.3s ease-in-out; }
              .main-container .profile-container .Question-container .question div.buttons button .number_of_follow .outer-cage div {
                font-size: 1.1rem; }
        .main-container .profile-container .Question-container .question div.buttons button:hover {
          background-color: #dbdbdb; }
        .main-container .profile-container .Question-container .question div.buttons #more {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          padding: 5px;
          border-radius: 15px; }
        .main-container .profile-container .Question-container .question div.buttons #more:hover {
          background-color: #dbdbdb; }
    .main-container .profile-container .Follower-container {
      margin-top: 10px; }
      .main-container .profile-container .Follower-container header {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #bebebe; }
    .main-container .profile-container .Following-container {
      margin-top: 10px; }
      .main-container .profile-container .Following-container header {
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #bebebe; }
  .main-container .credentials-container {
    width: 25%;
    display: inline-block;
    margin-left: 20px; }
    .main-container .credentials-container .header {
      border-bottom: 1px solid #c5c5c5; }
    .main-container .credentials-container .tab {
      margin-top: 10px;
      font-size: 0.9rem;
      color: #333;
      line-height: 2; }
      .main-container .credentials-container .tab i {
        margin-right: 10px; }
    .main-container .credentials-container .spaces {
      border: 1px solid #bbbbbb;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
